@page
@model paperDetailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Paper Detail";
    var asd = ViewData["login"];

    string tags = "";
    if (Model.PaperDetail != null)
    {

        for (int i = 0; i < Model.PaperDetail.TaskList.Count - 1; i++)
        {
            tags += "#" + Model.PaperDetail.TaskList[i].Task + ", ";
        }
        tags += "#" + Model.PaperDetail.TaskList[Model.PaperDetail.TaskList.Count - 1].Task;
    }

    string globalPaperId = Model.PaperDetail?.SelectedPaper?.Id;

    if (Model.Message != null)
    {
        <script type="text/javascript">
			window.onload = function () {
				alert("@Model.Message");
			};
        </script>
    }
}
<!--<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <img class="logo" src="logo.jpeg" style="width: 30px; height:30px; left: 10px; top: 10px; position: absolute;">
        <a href="homepage.html" class="w3-bar-item w3-button" style="padding-left: 30px;">HYPERCOR<b><u>REC</u></b>T</a>-->
<!-- Float links to the right. Hide them on small screens -->
<!--<div class="w3-right w3-hide-small">
            <a href="papersyoulike.html" class="w3-bar-item w3-button">Recommend Me</a>
            <a href="favorites.html" class="w3-bar-item w3-button">Favorites</a>
            <a href="profile.html" class="w3-bar-item w3-button">Profile</a>
            <a href="homepage.html" class="w3-bar-item w3-button">Log out</a>
        </div>
    </div>
</div>-->
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<style>
    body {
        background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    }

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <style >
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }

    .checked {
        color: orange;
    }

    .logo {
        display: inline-block;
        vertical-align: top;
        width: 35px;
        height: 35px;
        margin-right: 0px;
    }

    .bn632-hover {
        width: 190px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 10px;
        height: 50px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        .bn632-hover:hover {
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .bn632-hover:focus {
            outline: none;
        }

        .bn632-hover.bn24 {
            background-image: linear-gradient( to right, #6253e1, #852d91, #a3a1ff, #f24645 );
            box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
        }

    .bn48 {
        background: linear-gradient(90deg, #c7a0cf, #c52d28);
        background-size: auto;
        background-clip: border-box;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 300% 300%;
        -webkit-text-fill-color: transparent;
    }

    .container {
        max-width: unset;
        margin: auto;
        padding: 0;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
    }
</style>

<div class="w3-main" style="margin-left:50px">
    <div class="w3-row w3-padding-16">
        <!-- <h1 style="color: white;">HYPERCOR<b><u>REC</u></b>T</h1> -->
        <br><h2 style="color: white; font-family: Oxygen, sans-serif"><u>Paper Detail</u></h2> <br><br><br>
        <div class="w3-twothird w3-container">
            <a style="color: white; font-size: 23px;">@Model.PaperDetail?.SelectedPaper.Title</a>
            <p style="color: white; font-family: 'Roboto', sans-serif;">
                @Model.PaperDetail?.SelectedPaper.Abstract

            </p>
            <p style="color:  #d6bce7; font-family: 'Roboto', sans-serif; font-size:20px">
                @tags
            </p>
            @*<a href="signup.html"><button class="bn632-hover bn24">Add to Favorites</button></a>*@

            <!--
            <form method="post">


            <td><input type="submit" id="AddtoFavorites" value="AddtoFavorites" asp-page-handler="AddtoFavorites"/></td>



            </form>
                -->

        <form method="post">
            @*<input type="hidden" name="LogId" value="456" />*@
            <button type="submit" name="id" class="bn632-hover bn24" value="@Model.PaperDetail?.SelectedPaper.Id" asp-page-handler="AddtoFavorites">Add to Favorites</button>
            <a class="btn btn-primary" style="background-color:cornflowerblue;" asp-page="AddRating" asp-route-ratedUserID="@Model.PaperDetail?.SelectedPaper.Id">Rate Paper</a>
        </form>
            
        </div>
        <div class="w3-third w3-container">
            <p class="w3-border w3-padding-large w3-padding-16 w3-center">

                @if (Model.PaperDetail?.SelectedPaper.PublishedDate != null)
                {
                    <i class="fa fa-calendar" style="font-size:16px;color: white;">
                        @Model.PaperDetail?.SelectedPaper.PublishedDate.Value.ToString("dd.MM.yyyy")
                    </i> }
                else
                {
                    <i class="fa fa-calendar" style="font-size:16px;color: white;">
                        There is No Date in DB
                    </i>}
                
                <a class="btn btn-primary btn-sm" href="@Model.PaperDetail?.SelectedPaper.GithubUrl"> github</a>
                <a class="btn btn-primary btn-sm" href="@Model.PaperDetail?.SelectedPaper.PdfUrl"> pdf</a>

            </p>
        </div>
    </div>

    <div class="container">
        <br><br>
        <hr size="10" />
        <h3 style="font-family: 'Montserrat', sans-serif; color: white; text-align: center;">Related Papers</h3>
    </div>
    @if (Model.PaperDetail != null && Model.PaperDetail.RelatedPaperList != null && Model.PaperDetail.RelatedPaperList.Count > 0)
    {
        <div class="w3-row w3-padding-16" style="padding: 70px;">

            <div class="w3-row">
                @foreach (var item in Model.PaperDetail?.RelatedPaperList)
                {
                    <div class="w3-twothird w3-container">
                        <a style="color: white; font-size: 23px;" asp-page="/paperDetail" asp-route-paperId="@item.Id">@item.Title</a>
                        <p style="color: white; font-family: 'Roboto', sans-serif;">
                            @item.Abstract
                            
                        </p>
                        
                        <br><br>
                        <hr>
                    </div>
                    <div class="w3-third w3-container">
                        <p class="w3-border w3-padding-large w3-padding-16 w3-center">
                            <a class="btn btn-primary" style="background-color:cornflowerblue" asp-page="AddRating" asp-route-ratedUserID="@item.Id">Rate Paper</a>
                            <br><br />
                            @if (@item.PublishedDate != null)
                            {
                                <i class="fa fa-calendar" style="font-size:16px;color: white;">
                                    @item.PublishedDate.Value.ToString("dd.MM.yyyy")
                                </i> }
                            else
                            {
                                <i class="fa fa-calendar" style="font-size:16px;color: white;">
                                    There is No Date in DB
                                </i>}


                            <a class="btn btn-primary btn-sm" href="@item.GithubUrl"> github</a>
                            <a class="btn btn-primary btn-sm" href="@item.PdfUrl"> pdf</a>
                        </p>
                    </div>
                    <br><br><br><br><br><br><br>
                }

            </div>
        </div>
    }

    <!-- Pagination -->
    <div class="w3-center w3-padding-64">
        <div class="w3-bar">
            <a class="w3-button w3-white" asp-page="/paperDetail" asp-route-selectedPageNumber="1" asp-route-paperId="@globalPaperId">1</a>
            <a class="w3-button w3-white w3-hover-purple" asp-page="/paperDetail" asp-route-selectedPageNumber="2" asp-route-paperId="@globalPaperId">2</a>
            <a class="w3-button w3-white w3-hover-purple" asp-page="/paperDetail" asp-route-selectedPageNumber="3" asp-route-paperId="@globalPaperId">3</a>
            <a class="w3-button w3-white w3-hover-purple" asp-page="/paperDetail" asp-route-selectedPageNumber="4" asp-route-paperId="@globalPaperId">4</a>
            <a class="w3-button w3-white w3-hover-purple" asp-page="/paperDetail" asp-route-selectedPageNumber="5" asp-route-paperId="@globalPaperId">5</a>
            @*<a class="w3-button w3-white w3-hover-purple" asp-page="/paperDetail" asp-route-selectedPageNumber="6" asp-route-paperId="@globalPaperId" >»</a>*@
        </div>
    </div>

    <!--<footer id="myFooter">-->
    <!-- <div class="w3-container w3-theme-l2 w3-padding-32">
        <h4>HYPERCORRECT</h4>
    </div> -->
    <!--<div class="w3-container w3-theme-grey" style="left: 0%; position: absolute; width: 100%;">
            <img class="logo" src="logo2.png" style="width: 30px; height:30px; left: 3%; top: 8px; position: absolute;">
            <p style="color: white; padding-left: 55px;">HYPERCORRECT</a></p>
        </div>
    </footer>-->
    <!-- END MAIN -->
</div>
